.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 32px;
  grid-column-gap: 32px;
  margin: 32px 0;
  padding: 0 32px;
}

.mainText {
  padding-top: 80px;
  grid-column: 1 / span 12;
  font-weight: 500;
  font-size: 64px;
  color: #0d214b;
}

.card,
.cardTwo,
.cardThree {
  height: 400px;
  background-color: #ffffff;
  border-radius: 5px 5px 50px 30px;
  z-index: -1;
  border: 1px solid rgba(81, 113, 224, 1);
  padding: 32px;
  box-sizing: border-box;
}

.cardText,
.cardTextTwo,
.cardTextThree {
  font-weight: 500;
  font-size: 24px;
  color: #0d214b;
  margin-bottom: 32px;
}

.cardText a {
  color: #5171e0;
}

.description,
.descriptionTwo,
.descriptionThree {
  font-weight: 400;
  font-size: 16px;
  color: #0d214b;
}
