.footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 22px;
  margin-left: 48px;
  grid-gap: 32px;
}

.textFooter {
  display: flex;
  gap: 32px;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 8;
  font-size: 14px;
  font-weight: 400;
  color: #0d214b;
}

.imgFooter {
  grid-column-start: 8;
}
.imgFooter img:first-child {
  margin-right: 27px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 19px;
}

.logoBackground {
  width: 166px;
  height: 100px;
  background-color: #5171e0;
  position: absolute;

  border-radius: 0 10px 10px 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.logo {
  grid-column: span 2;
  font-size: 24px;
  font-weight: 500;
}

.textLogo {
  margin-left: 20px;
  margin-bottom: 16px;
}

.logo a {
  color: #ffffff;
}

.supportContacts {
  grid-column-start: 4;
  grid-column: 4 / span 6;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 16px;
}

.connectionIssues {
  grid-column-start: 4;
  grid-column: 4 / span 6;
  color: #0d214b;
  margin-bottom: 32px;
}

.phoneSupports {
  grid-column-start: 4;
  grid-column: 4 / span 7;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 32px;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: #5171e0;
}

.phoneSupports a {
  color: #5171e0;
  text-decoration: none;
}

.feedback {
  grid-column-start: 4;
  grid-column: 4 / span 7;
  font-size: 24px;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: #5171e0;
  margin-bottom: 102px;
}

.feedback a {
  color: #5171e0;
}

.mailLogo {
  margin-left: 8px;
}

.supportLogo {
  margin-left: 8px;
}

.supportWidth {
  grid-column-start: 4;
  grid-column: 4 / span 4;
}

.buttonSubmit {
  grid-column-start: 10;
  grid-column: 10 / span 2;
  font-weight: 500;
  font-size: 24px;
  position: relative;
}

.buttonSubmit a {
  color: #ffffff;
}

.buttonSubmit::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 96px;
  background-color: #5171e0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 10px 10px 10px 10px;
}

.reference {
  grid-column-start: 10;
  grid-column: 10 / span 3;
  font-weight: 400;
  font-size: 14px;
  display: flex;
}
