.splideArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.splideArrow::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-left: 2px solid #333;
  border-bottom: 2px solid #333;
  transform: rotate(-45deg);
}

.splide__arrow.splide__arrow--prev {
  left: 20px;
}

.splide__arrow.splide__arrow--next {
  right: 20px;
}

.splide__arrow.splide__arrow--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
